.woocommerce-breadcrumb {
    color: #a6a6a6;
    margin-top: 20px;
    margin-bottom: 10px;
}
.woocommerce-breadcrumb a {
    color: #d21111;
}

.woocommerce-loop-product__title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.cart__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 36px;
}
.cart_title {
    text-align: center;
}
.cart__wrapper .woocommerce {
    width: 100%;
    display: flex;
}
.woocommerce-cart-form {
    flex: 4;
    /* margin-right: 30px; */
}

.cart-collaterals th {
    background-color: #f8f8f8;
}
.cart-collaterals {
    margin-left: 15px;
}
.cart-collaterals h2 {
    margin-bottom: 10px;
}
.cart-collaterals th {
    padding: 25px 0 !important;
    border-bottom: 4px solid white;
}
.shop_table {
    width: 100%;
    /* border: 1px solid lightgray;
    border-radius: 5px; */
}
.attachment-woocommerce_thumbnail {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.cart_item img {
    margin: 0 auto;
    max-width: 3.706325903em;
    height: auto;
}
.product-remove {
    padding: 0 2px;
    background-color: #f8f8f8;
    border-right: 4px solid white;
}
.shop_table thead {
    background-color: #f8f8f8;
}
.shop_table th,
.shop_table td {
    text-align: center;
    /* border: 1px solid #d3d3d35c; */
}
.shop_table th {
    padding: 10px 0;
    border-right: 4px solid white;
}
.screen-reader-text {
    display: none;
}
.quantity {
    text-align: center;
    margin-right: 22px;
}
.shop_table .qty {
    padding: 0.326em;
    width: 3.706325903em;
    background-color: #f2f2f2;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125);
}

.content__left {
    flex: 1;
}
.product__content .single_add_to_cart_button {
    width: 188px;
    height: 51px;
    background-color: #d21111;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    border: none;
    justify-content: center;
    background-image: url("../img/cart_icon.svg");
    background-repeat: no-repeat;
    background-position: 10% 50%;
    padding-left: 40px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.product__content .single_add_to_cart_button:hover {
    background-position: 15% 50%;
}
.add_to_cart_qte {
    padding: 0.326em;
    width: 176px;
    height: 29px;
    border: 1px solid #dedede;
    appearance: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.product__content .add_to_cart_qte {
    margin-right: 22px;
}

.product__content .cart {
    display: flex;
    align-items: flex-end;
    margin-top: -23px;
}
/* .product__content .cart__price {
    position: unset;
} */
.product__content .add_cart {
    align-items: center;
}
.nav_search_icon a {
    background: url("../img/search_icon.svg") no-repeat;
    font-size: 0 !important;
    padding: 12px 9px;
}
.nav_search_icon a::after {
    bottom: -5px !important;
}
.woocommerce-product-search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.woocommerce-product-search .search-field {
    border-radius: 50px;
    padding: 9px 0 10px 22px;
    border: 1px solid #d6d6d6;
    height: 47px;
    width: 100%;
    font-size: 15px;
    transition: 0.5s;
}
.woocommerce-product-search button {
    color: white;
    position: absolute;
    right: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 0 25px 25px 0;
    width: 56px;
    height: 47px;
    transition: 0.5s;
    top: 0;
    font-size: 0;
    background: url("../img/search_icon.svg") no-repeat center;
    background-color: #d21111;
    border: 1px solid #d21111;
    cursor: pointer;
}

.woocommerce-product-search button:hover {
    border-radius: 25px;
    width: 47px;
}

.woocommerce-product-search button:hover img {
    left: 0;
}

.woocommerce-product-gallery {
    position: relative;
}
.img.wp-smiley,
img.emoji {
    display: none !important;
}
.woocommerce-product-gallery__trigger {
    position: absolute;
    bottom: 20px;
    z-index: 1;
    background-image: url("../img/el_zoom-in.svg");
    height: 40px;
    width: 40px;
    background-size: 40px;
    background-repeat: no-repeat;
    left: 20px;
}
.woocommerce-notices-wrapper {
    display: none;
}
.woocommerce-cart-form__contents .button {
    /* width: 188px;
    height: 43px; */
    background-color: #d21111;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px 25px;
}
.wc-proceed-to-checkout {
    margin-top: 10px;
}
.checkout-button {
    background-color: #d21111;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.checkout {
    /* display: flex; */
    width: 100%;
}
.checkout h3 {
    margin-bottom: 10px;
}
.col2-set {
    width: 52.9411764706%;
    float: left;
}
.form-row {
    margin-bottom: 20px;
}
.form-row label {
    display: block;
    margin-bottom: 2px;
}
.form-row input,
.form-row textarea,
.form-row select {
    width: 100%;
}
.form-row input,
.form-row textarea {
    padding: 0.6180469716em;
    background-color: #f2f2f2;
    color: #43454b;
    border: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-weight: normal;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125);
}
.required {
    border-bottom: 0 !important;
    color: #d21111;
    cursor: help;
}
.col2-set .form-row-first {
    width: 45%;
    float: left;
    margin-right: 10%;
    clear: both;
}

.col2-set .form-row-last {
    width: 45%;
    float: left;
}
.form-row-wide {
    clear: both;
    width: 100%;
}
#order_review_heading,
#order_review {
    width: 41%;
    float: right;
    margin-right: 0;
    clear: right;
}
.woocommerce-checkout-review-order-table td,
.woocommerce-checkout-review-order-table th {
    padding: 1em 1.41575em;
    text-align: left;
    vertical-align: top;
}

.woocommerce-checkout-payment button {
    background-color: #d21111;
    border-radius: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    width: 100%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}
.place-order {
    margin-top: 30px;
    padding: 25px;
    background-color: #fafafa;
}
.woocommerce-error {
    background-image: url("../img/note.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border-top: 3px solid #d21111;
    padding: 10px 40px;
    background-position: 12px 10px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
}
.wc_payment_methods {
    margin-top: 30px;
    padding: 25px;
    background-color: #fafafa;
    background-image: url("../img/note.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border-top: 3px solid #d21111;
    padding: 10px 40px;
    background-position: 12px 10px;
}
@media only screen and (max-width: 834px) {
    .header .header__content {
        height: 45px;
        padding: 0 10px;
    }
    .header .header__logo {
        height: 45px;
        margin: 0;
        width: auto;
    }
    .header .logo {
        height: auto;
    }
    .header .logo__img {
        width: 30px;
    }
    .header .search_icon-mobile {
        display: inline-block;
        margin-left: -35px;
        width: 26px;
        height: 26px;
        margin-top: 2px;
    }
    .header .cart_icon {
        width: 26px;
        margin-top: 0px;
    }
    .header .search__inner {
        width: 100%;
    }
    .header .cart_count {
        position: absolute;
        top: 5px;
        width: 14px;
        height: 14px;
        font-size: 8px;
        left: 4px;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .header .header__content {
        height: 50px;
        padding: 0 10px;
    }
    .menu-toggle {
        display: inline;
        margin-top: 8px;
        margin-right: 6px;
    }
    .header .header__content-ul {
        display: none;
    }
    .header .header__right-side {
        justify-content: center;
        flex-direction: row;
        align-items: center;
        width: auto;
    }
    .header .shopping_txt {
        display: none;
    }
    .nav_search_icon {
        display: none;
    }

    .product__content .alert {
        height: 50px;
        margin-bottom: 15px;
    }
    .product__content .add_cart {
        margin-bottom: 5px;
        flex-direction: column;
        align-items: flex-start;
    }
    .product__content {
        flex-direction: column-reverse;
        position: relative;
    }
    .product__content .qte_lbl {
        display: none;
    }
    .cart .add_to_cart_qte {
        width: 100px;
        margin-right: 0;
    }
    .product__content .single_add_to_cart_button {
        width: 188px;
        height: 51px;
        background-color: #d21111;
        border-radius: 5px;
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
    }

    .woocommerce-product-gallery__image .wp-post-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .menu-toggle {
        width: 26px;
        height: 20px;
        margin-top: 0;
    }
    .content__right {
        flex-direction: column-reverse !important;
    }
    .content__left {
    }
    .add_cart_wrapper {
        position: relative;
        top: 10px;
    }
    .product__content .cart {
        margin-top: 0;
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
        margin-top: 0;
    }
    .product__content .left__name {
        margin-bottom: 5px;
    }
    .product__content .cart__price {
        top: 0;
    }
    .product__content .price_holder {
        margin-bottom: 15px;
    }
    .woocommerce-product-gallery__image:nth-child(1) img {
        max-width: none;
        width: 100%;
        height: 100%;
    }

    /* Cart */
    .woocommerce-cart-form__contents {
        border: none;
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 15px;
    }
    .cart .woocommerce-breadcrumb {
        padding: 0 17px;
    }
    .cart__wrapper .woocommerce {
        flex-direction: column;
    }

    .woocommerce-cart-form__contents thead {
        display: none;
    }
    .woocommerce-cart-form__contents .product-name::before {
        content: "Product :";
        font-weight: bold;
    }
    .woocommerce-cart-form__contents .product-price::before {
        content: "Price :";
        font-weight: bold;
    }
    .woocommerce-cart-form__contents .product-quantity::before {
        content: "Quantity :";
        font-weight: bold;
    }
    .woocommerce-cart-form__contents .product-subtotal::before {
        content: "Subtotal :";
        font-weight: bold;
    }
    .woocommerce-cart-form {
        padding: 0 17px;
    }
    .woocommerce-cart-form__contents .cart_item {
        display: flex;
        flex-direction: column;
        margin-bottom: 14px;
        background-color: #fdfdfd;
        margin-right: 17px;
        margin-left: 17px;
        position: relative;
    }
    .woocommerce-cart-form__contents .cart_item td {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        align-items: center;
    }
    .woocommerce-cart-form__contents .cart_item .product-thumbnail {
        justify-content: center;
        display: flex;
        padding: 0;
    }
    .woocommerce-cart-form__contents .cart_item .quantity {
        margin: 0;
    }
    .woocommerce-cart-form__contents .cart_item .product-remove {
        justify-content: flex-end;
        padding: 6px 10px;
        position: absolute;
        right: 17px;
        border: 1px solid #333333;
        border-radius: 50%;
        top: 12px;
    }
    .remove {
        color: #d21111;
    }
    .cart-collaterals {
        padding: 0 52px;
        margin: 20px 0 20px 0;
    }
    .cart-collaterals th {
        padding: 10px 0 !important;
    }
    .cart_totals {
        width: 100%;
    }
    .woocommerce-cart-form__contents .button {
        /* width: 188px;
        height: 43px; */
        background-color: #d21111;
        border-radius: 5px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        border: none;
        cursor: pointer;
        padding: 12px 25px;
    }
    .wc-proceed-to-checkout {
        margin-top: 10px;
    }
    .checkout-button {
        background-color: #d21111;
        border-radius: 5px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        border: none;
        padding: 12px 25px;
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .checkout {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 0 17px;
    }
    .col2-set {
        width: 100%;
    }
    #order_review_heading,
    #order_review {
        width: 100%;
        float: none;
        margin-right: none;
        clear: none;
    }
    .about_us .about__content {
        padding: 0 17px;
        width: auto;
    }
}

@media only screen and (max-width: 1240px) {
    /*     .woocommerce-breadcrumb {
        padding: 0 17px;
    }
    .product__content {
        padding: 0 17px;
    }
   
    .checkout {
        padding: 0 17px;
    }
     */
    .container {
        padding: 0 17px;
    }
    .header .header__content {
        padding: 0 17px;
    }
}
/* @media screen and (max-width: 900px) and (min-width: 767.5px) {
    .woocommerce-breadcrumb {
        padding: 0 17px;
    }
    .product__content .left__name {
        margin-bottom: 0;
    }
    .product__content {
        padding: 0 17px;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .woocommerce-product-gallery__image:nth-child(1) img {
        max-width: 80;
        width: 80%;
        height: 80%;
    }
    .product__content .single_add_to_cart_button {
        font-size: 0;
        width: 50px;
        background-position: 50% 50%;
    }
    .add_cart_wrapper {
        width: 80%;
    }

    .woocommerce-product-gallery__image:nth-child(1) img {
        max-width: none;
        width: 100%;
        height: 100%;
    }
    .woocommerce-product-gallery {
        width: 70%;
    }

    .product__content .qty {
        width: 160px;
    }
    .product__content .left__name {
        margin-bottom: 0;
    }
}
 */
